@import "https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
    border: none;
}

.container {
    display: flex;
    width: 1200px;
    margin: 10px auto;
}

header {
    display: flex;
    width: 100%;
    background-color: #2268ff;
    align-items: center;
    height: 75px;
}

header * {
    color: white
}

header > nav {
    gap: 200px;
    align-items:center;
}
header > nav > img {
    cursor: pointer;
}

header > nav > ul {
    display: flex;
    justify-content: space-between;
    gap: 200px;
}
header > nav > ul > li {
    display: flex;
    cursor:default;
    position: relative;
    transition: 0.3s ease-in-out;
    justify-content: center;
}

header > nav > ul > li::after {
    content: ">";
    display: flex;
    transform: rotate(-90deg);
    margin-left: 5px;
    width: max-content;
    height: max-content;
    margin-top: 2px;
    
    transition: 0.3s ease-in-out;
}

header > nav > ul > li:hover::after{
    transform: rotate(90deg);
}

header > nav > ul > li:hover > div{
    display: flex;
}


@keyframes moveFromUp {
    from {
        transform: scaleY(0);
    }
}

header > nav > ul > li > div {
    position: absolute;
    display: none;
    top: 20px;
    background-color:#2268ff;
    padding-inline: 50px;
    padding-block: 25px;
    border-radius: 5px;
    cursor:auto;
    z-index: 1;
    transition: 0.3s ease-in-out;
    animation-name: moveFromUp;
    animation-duration: 0.3s;
    transform-origin: top;
}

header > nav > ul > li > div > ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

header > nav > ul > li > div > ul > li{
    cursor: pointer;
}
header > nav > ul > li > div > ul > li > a{
    text-decoration: none;
}

#post-header {
    display: flex;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    align-items: center;
    justify-content: center;
}

#post-header search {
    display: flex;
    width: 400px;
}
#post-header search form {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

#post-header search form input {
    font-size: 15px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding-block: 7px;
    padding-inline: 13px;
    outline:none;
    width: 100%;
    color: #333
}

#post-header search form button {
    display: flex;
    position: absolute;
    right: 10px;
    background: none;
    align-items: center;
    cursor: pointer;
}

.pointer-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}
.pointer-div, .pointer-div--article-card {
    background:#d8e4ff;
    display: none;
    height: 200px;
    padding: 15px;
    align-items: center;
    justify-content: center;
    border: 1px solid #2268ff;
    border-radius: 5px;
}

.pointer-div--p {
    display: flex;
    font-size: 20px;
    color:#2268ff;
    font-weight: 500;
}

.pointer-div {
    width: 100%;
}

.pointer-div--article-card{
    flex-basis: calc(50% - 10px);
    display: none;
    overflow:hidden;
    position: relative;
}

.pointer-div--readArticle-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    bottom: 0;
    background:#2268ff;
    height: 50px;
    width: 100px;
    color: white;
    border-top-left-radius: 5px;
}

main {
    height: max-content;
    margin-top: 30px;
    font-style:normal;
    line-height: 30px;
    color: #333;
}

main > div {
    width: inherit;
}

main b {
    color:#2268ff;
}

main .infobox{
    float: right;
}

main .mw-heading {
    margin: 20px 40px;
    color:#2268ff;
}

main figure, main .gallerybox {
    display: table;
    padding: 5px;
    margin: 10px;
    width: max-content;
    background-color:#d8e4ff;
    outline: 2px solid #2268ff;
    vertical-align:top;
    flex-wrap: nowrap;
}

main figcaption {
    display: table-caption;
    caption-side: bottom;
    background:#d8e4ff;
    padding: 5px;
}

main .mw-halign-left {
    clear: left;
    float: left;
}

main .mw-halign-right {
    clear: right;
    float: right;
}

main .gallery {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: inherit;
    flex-wrap: wrap;
    margin: 0 auto;
}
main .gallerybox .thumb {
    display: flex;
    justify-content: center;
}

main figure {
    clear: right;
    float: right;
}

main .mw-halign-center {
    flex-direction: column;
    clear: none;
    float: none;
    margin: 10px auto;
    align-items: center
}

main th, th * {
    background-color:#d8e4ff;
    color:#2268ff
}
main td {
    background-color:#edf3ff;
}

main .redirectMsg > p {
    color:#2268ff;
    font-weight: bolder;
}

main .redirectText {
    gap: 10px;
    list-style-type: none;
    padding-block: 30px;
}
main .redirectText > li {
    background-color: #2268ff;
    margin-left: 50px;
    padding-inline: 20px;
    border-radius: 5px;
    width: max-content;
    transition: ease-in-out 0.3s;
    position: relative;
}

main .redirectText > li > a {
    display: flex;
    color: white;
    width: max-content;
}

main .redirectText .redir-vis-el {
    position: absolute;
    left: -50px;
    top: 0;
    color:#2268ff;
    font-size: 40px;
    font-weight: bold;
}

main .redirectText > li:hover {
    transform: translateX(50px)
}

main ul, main ol {
    padding-left: 30px;
}